<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Roles List</title>
</head>
<body>
    <h1>List of Roles</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Дії</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{ role.id }}</td>
                <td>{{ role.name }}</td>
                <td>
                    <a href="{{ url_for('roles.update', id=role.id) }}">Редагувати</a>
                    <form action="{{ url_for('roles.delete', id=role.id) }}" method="POST" style="display:inline;">
                        <button type="submit">Видалити</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
