<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Department</title>
</head>
<body>
    <h[_{{{CITATION{{{_1{](https://github.com/ehalterman/cs313-php/tree/57461f96983a4243729fc27be8bb44e4b39fd8c7/web%2Fteam%2Fweek7%2Fsign-in.php)[_{{{CITATION{{{_2{](https://github.com/Tobsic/WhiteLady/tree/c454064396df38fcdf8db59834e8b24edced52db/Server%2FAPI%2Findex.php)[_{{{CITATION{{{_3{](https://github.com/cjsampson/codeup.dev/tree/1dbc64254ddc007ee2bad485d6fcf9cfc7937528/public%2Fphp%2Fform.php)