{% extends 'base.html' %}

{% block title %}Roles List{% endblock %}

{% block content %}
<div class="container">
    <h1>Roles</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for role in roles %}
            <tr>
                <td>{{ role }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('roles_create') }}" class="btn btn-primary">Create Role</a>
</div>
{% endblock %}
